html,
body {
    -webkit-overflow-scrolling: touch !important;
    height: 100% !important;
    position: relative;
}

body {
    font-family: "Open Sans", sans-serif;
}

:root {
    --font-size-ten: 0.833rem;
    --font-size-eleven: 0.917rem;
    --font-size-twelve: 1rem;
    --font-size-eight: 0.667rem;
    --font-size-seven: 0.583rem;
    --green-color: ##76cc11;
}

p {
    margin-bottom: 0;
}
