body {
    font-family: "Open Sans", sans-serif;
}

:root {
    --font-size-ten: 0.833rem;
    --font-size-eleven: 0.917rem;
    --font-size-twelve: 1rem;
    --font-size-eight: 0.667rem;
    --font-size-seven: 0.583rem;
    --font-size-fourteen: 1.167rem;
    --green-color: #76cc11;
}

p {
    margin-bottom: 0;
}

main {
    max-width: 1200px;
    margin: auto;
    min-height: calc(100vh);
    padding: 3rem 0rem;
}
