@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("./_reset.css");
@import url("./_customClass.css");
@import url("./_navbar.css");
@import url("./_footer.css");

main {
    padding-top: 56px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4.5px;
}

.wrapper .content {
    border-radius: 15px;
    border: 1px solid #dee2e6 !important;
    cursor: pointer;
}

.wrapper .content:hover {
    -webkit-box-shadow: 0 0 16px rgb(0 0 0 / 10%) !important;
    box-shadow: 0 0 16px rgb(0 0 0 / 10%) !important;
}

.wrapper > a {
    max-width: 385px;
    max-height: 153px;
    padding: 24px 26px;
    margin: 0 15.5px 31px 15.5px;
    width: 100%;
    color: black;
    text-decoration: none;
}

.content .icon {
    background-color: var(--green-color);
    border-radius: 50%;
    color: white;
    margin-bottom: 7px;
    height: 67px;
    width: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.625rem;
}

.content .title {
    font-weight: 700;
    font-size: var(--font-size-24);
    margin: 0;
}

@media (max-width: 1100px) {
    .wrapper > a {
        max-width: 300px;
    }
}

@media (max-width: 720px) {
    :root {
        --font-size-24: 22px;
    }

    .content .icon {
        height: 60px;
        width: 60px;
    }
    .wrapper > a {
        max-width: 280px;
    }
}

@media (max-width: 648px) {
    .wrapper > a {
        max-width: 380px;
    }
}

@media (max-width: 500px) {
    .wrapper > a {
        max-width: unset;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 23px;
    }

    .wrapper {
        padding: 0;
    }

    main {
        padding: 0 20px;
        padding-top: 23px;
    }
}
