@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("./_reset.css");
@import url("./_customClass.css");
@import url("./_navbar.css");
@import url("./_footer.css");
@import url("./_select2.css");

.search {
    position: relative;
    height: calc(2.25rem + 2px);
}
.search .icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: #c2c2c2;
}
.search input {
    position: absolute;
    height: 100%;
    border-radius: 30px;
    width: 100%;
    padding: 0;
    padding-left: 2rem;
    line-height: normal;
}
.search input:placeholder-shown + .clear-icon-search {
    visibility: hidden;
}
.search .clear-icon-search {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: #c2c2c2;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    visibility: visible;
}

.select-container {
    position: relative;
    color: #c2c2c2;
    margin-left: 1rem;
}
.select-container .select2-selection__rendered {
    font-weight: 500;
    font-size: var(--font-size-ten) !important;
}
.select-container select {
    font-weight: 500;
}
.select-container
    .select2-container--default
    .select2-selection--single
    .select2-selection__placeholder {
    font-weight: 500;
}
.select-container input {
    display: block;
    width: 100%;
    /* Firefox */
    height: -moz-calc(2.25rem + 2px);
    /* WebKit */
    height: -webkit-calc(2.25rem + 2px);
    /* Opera */
    height: -o-calc(2.25rem + 2px);
    /* Standard */
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.833rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.select-container input:focus {
    border: 1px solid #e94151;
    outline: none;
}
.select-container span.arrow-icon {
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    /* WebKit */
    -moz-transform: translateY(-50%);
    /* Mozilla */
    -o-transform: translateY(-50%);
    /* Opera */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #c2c2c2;
    background-color: white;
    font-size: var(--font-size-ten);
}

.select2-container--default .select2-selection--single {
    border-radius: 30px;
}

.select2-container--default.select2-container--open.select2-container--below
    .select2-selection--single {
    border-radius: 30px !important;
}

.filter-container {
    display: flex;
    justify-content: space-between;
}

.filter-container > div {
    flex: 1 1 100%;
    min-width: 50%;
}

.content-container {
    display: flex;
    font-size: var(--font-size-fourteen);
    font-weight: 800;
    width: 100%;
    border-top: 1px solid #c2c2c2;
    padding: 2rem 0;
}

.content-wrapper {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container .user {
    display: flex;
    font-size: var(--font-size-ten);
    font-weight: normal;
    align-items: center;
}

.content-container .content-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 1rem;
    object-fit: cover;
}

.content-container .profile-img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.content-container .content-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    word-break: keep-all;
    word-break: break-all;
    margin-bottom: 0.5rem;
}

.content-container .user-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 1.2rem;
    margin-left: 0.5rem;
}

.loading {
    height: 50px;
    width: 50px;
    border: 5px solid black;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: spin 900ms linear infinite forwards;
}

@media (max-width: 500px) {
    .content-container .content-img {
        height: 100px;
        width: 100px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
